{% extends 'layout.html.twig' %}

{% block title %}Tartalomszerkesztői oldal{% endblock %}

{% block body %}
    <a href="{{ path('admin') }}">Vissza</a>
    <h1>Tartalomszerkesztői felület</h1>
{% endblock %}